/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 5px 0px;
  margin-bottom: 5px;
  position: relative;
  background-color: #fff;
  z-index: 1;
}
header .logo {
  width: 50%;
  margin-top: 12px;
}

footer {
  background-color: rgb(53, 53, 53);
}
footer .footer-container {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}
footer .footer-container .logo-footer {
  width: 130px;
  margin-top: 30px;
  margin-bottom: 15px;
}
footer .footer-container .logo-footer h1 {
  font-size: 20px;
  color: #fff;
}
footer .footer-container a {
  color: #fff;
  margin-bottom: 10px;
}
footer .footer-container a .fa-utensils {
  font-size: 12px;
  padding-right: 10px;
}
footer .footer-container a .fa-handshake-angle {
  font-size: 12px;
  padding-right: 5px;
}

body {
  width: 100%;
  font-family: "Roboto";
}

main {
  max-width: 375px;
  width: 100%;
}

h1,
h2,
h3,
h4 {
  font-family: "Shrikhand";
}

a {
  text-decoration: none;
}

.location-section i {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 100px;
  font-size: 17px;
}
.location-section .location-title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  font-weight: 500;
  font-size: 16px;
}
.location-section .location {
  display: flex;
  width: 100%;
  height: 40px;
  background-color: rgb(234, 234, 234);
}
.location-section .corp-desc {
  background-color: rgb(246, 246, 246);
  padding-bottom: 60px;
}
.location-section .corp-desc_content {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.location-section .corp-desc_content .reserved {
  font-weight: bold;
  font-size: 24px;
  flex-wrap: wrap;
  width: 70%;
  text-align: center;
  margin-bottom: 10px;
}
.location-section .corp-desc_content p {
  text-align: center;
  width: 90%;
  font-size: 18px;
  margin-bottom: 30px;
  font-weight: 300;
}
.location-section .corp-desc_content .explore-btn {
  color: #fff;
  background: linear-gradient(0deg, rgb(147, 86, 220) 0%, rgb(255, 121, 218) 100%);
  padding: 15px 20px;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 10px 0px;
}

.fonctioning-section {
  margin-top: 60px;
}
.fonctioning-section .fonctioning-container .function-title {
  font-weight: bold;
  font-size: 24px;
  margin-left: 16px;
}
.fonctioning-section .fonctioning-container .choose-container {
  margin-top: 30px;
  margin-bottom: 60px;
  margin-left: 30px;
}
.fonctioning-section .fonctioning-container .choose {
  width: 320px;
  margin-top: 30px;
  display: flex;
  align-items: center;
  border: 1px solid transparent;
  border-radius: 20px;
  padding: 20px;
  position: relative;
  background-color: rgb(246, 246, 246);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 10px 0px;
}
.fonctioning-section .fonctioning-container .choose p {
  font-weight: bold;
  font-size: 16px;
  margin-left: 5px;
}
.fonctioning-section .fonctioning-container .choose:hover {
  background-color: #F5EDFF;
}
.fonctioning-section .fonctioning-container .choose:hover .icon {
  color: #9356DC;
}
.fonctioning-section .fonctioning-container .bubble {
  left: -12px;
  margin-right: 30px;
  padding: 12px;
  border: 1px transparent;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  background-color: #9356DC;
  color: #fff;
  position: absolute;
}
.fonctioning-section .fonctioning-container .icon {
  margin-left: 10px;
  margin-right: 20px;
  font-size: 20px;
  color: rgb(126, 126, 126);
}
.fonctioning-section .fonctioning-container p {
  font-weight: bold;
  font-size: 16px;
}

.store-section {
  background-color: rgb(246, 246, 246);
  padding-bottom: 50px;
}
.store-section .store-container a {
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.store-section .store-container .store {
  font-weight: bold;
  font-size: 24px;
  margin-left: 16px;
  padding-top: 50px;
}
.store-section .store-container .new {
  width: 90px;
  z-index: 1;
  padding: 4px;
  background-color: #99E2D0;
  color: rgb(38, 157, 128);
  border-radius: 2px;
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 16px;
  position: absolute;
  top: 20px;
  right: 20px;
}
.store-section .store-container .card-container {
  display: flex;
  flex-direction: column;
}
.store-section .store-container .card-container .card {
  display: flex;
  justify-content: center;
  width: 90%;
  overflow: hidden;
  background: #FFFFFF;
  border-radius: 20px;
  box-sizing: border-box;
  margin-top: 20px;
  position: relative;
  margin-left: 20px;
  height: 250px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 10px 0px;
}
.store-section .store-container .card-container .card a img {
  position: absolute;
  bottom: 70px;
}
.store-section .store-container .card-container .card a img.enchanted-img {
  bottom: -28px;
}
.store-section .store-container .card-container .card .card-desc {
  position: absolute;
  top: 180px;
  width: 100%;
  height: 33%;
  background: #fff;
}
.store-section .store-container .card-container .card .card-desc .store-name {
  position: absolute;
  bottom: 50px;
  text-decoration: none;
  color: black;
  font-size: 18px;
  font-weight: bold;
  padding-left: 20px;
}
.store-section .store-container .card-container .card .card-desc .city {
  position: absolute;
  bottom: 30px;
  color: black;
  font-size: 15px;
  padding-left: 20px;
}
.store-section .store-container .card-container .card .card-desc i {
  display: block;
  position: absolute;
  bottom: 40px;
  right: 30px;
  font-size: 25px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: black;
}
.store-section .store-container .card-container .card .card-desc .fas {
  background: -webkit-linear-gradient(270deg, rgb(147, 86, 220) 0%, rgb(255, 121, 218) 100%);
  display: block;
  font-weight: 600;
  position: absolute;
  bottom: 40px;
  right: 30px;
  font-size: 25px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.4s ease-in-out;
  opacity: 0;
}
.store-section .store-container .card-container .card .card-desc .fas:hover {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 1;
}

footer {
  background-color: rgb(53, 53, 53);
}
footer .footer-container {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}
footer .footer-container .logo-footer {
  width: 130px;
  margin-top: 30px;
  margin-bottom: 15px;
}
footer .footer-container .logo-footer p {
  font-family: "shrikhand";
  font-size: 20px;
  color: #fff;
}
footer .footer-container a {
  color: #fff;
  margin-bottom: 10px;
}
footer .footer-container a .fa-utensils {
  font-size: 12px;
  padding-right: 10px;
}
footer .footer-container a .fa-handshake-angle {
  font-size: 12px;
  padding-right: 5px;
}

header {
  margin-bottom: 0px;
}

.return_button {
  position: absolute;
  left: 20px;
  top: 22px;
  border: none;
  background: white;
  font-size: 20px;
  cursor: pointer;
}

.background {
  height: 250px;
  position: relative;
}
.background .background-img {
  position: absolute;
  top: -120px;
}

.order {
  display: flex;
  justify-content: center;
  padding: 40px 0px;
}

.order-btn {
  color: #fff;
  background: linear-gradient(0deg, rgb(147, 86, 220) 0%, rgb(255, 121, 218) 100%);
  padding: 15px 50px;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 10px 0px;
  border: none;
  cursor: pointer;
}

.food-section {
  padding: 30px 20px;
  border-radius: 30px;
  position: relative;
  background: #fff;
  margin-top: -50px;
  background-color: rgb(246, 246, 246);
}
.food-section .title {
  display: flex;
  justify-content: baseline;
  align-items: center;
  font-size: 28px;
}
.food-section .title i {
  position: absolute;
  right: 35px;
  font-size: 28px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: black;
}
.food-section .title .fas {
  background: -webkit-linear-gradient(270deg, rgb(147, 86, 220) 0%, rgb(255, 121, 218) 100%);
  display: block;
  font-weight: 600;
  position: absolute;
  right: 35px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.4s ease-in-out;
  opacity: 0;
}
.food-section .title .fas:hover {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 1;
}
.food-section .category {
  margin-top: 30px;
}
.food-section .category.category::after {
  content: "";
  display: block;
  width: 40px;
  height: 3px;
  background-color: #99E2D0;
  margin-top: 5px;
}
.food-section .food-card {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 10px;
  position: relative;
  justify-content: flex-end;
  margin-top: 14px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 5px 0px;
  background-color: #fff;
}
.food-section .food-card .food-title {
  font-weight: bold;
  font-size: 18px;
}
.food-section .food-card .food-desc {
  font-size: 14px;
}
.food-section .food-card .food-price {
  position: absolute;
  right: 30px;
  font-weight: bold;
}/*# sourceMappingURL=style.css.map */